@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "CustomFont";
  src: url("../src/fonts/outline_pixel-7_solid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  color: rgba(255, 255, 255, 0.87);
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  cursor: url('../src/images/cursor-hand.png'), auto; 
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: CustomFont, sans-serif;
  font-size: 1.5rem;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../src/images/shopBackground.png");
  background-size: cover; /* Faz com que a imagem cubra toda a área */
  background-position: center; /* Centraliza a imagem */
  color: rgba(255, 255, 255, 0.87);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
